.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Estilo para a track (pista) da scrollbar */
    &::-webkit-scrollbar-track {
        background: black;
    }

    /* Estilo para a handle (alça) da scrollbar */
    &::-webkit-scrollbar-thumb {
        background: #CBA757;
        border-radius: 10px;
    }

}